<!--
  Created by jojoldu@gmail.com on 02/06/2018
  Blog : http://jojoldu.tistory.com
  Github : http://github.com/jojoldu
-->

<!DOCTYPE HTML>
<html>
<head>
    <title> SpringBoot & AWS & Tui Editor </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<script src="/dist/js/build.js"></script>
</body>
</html>